constraints: array ==0.5.1.1,
             base ==4.*,
             ghc-prim  <= 0.5.0.0,
             rts ==1.0,
             integer-gmp  <= 1.0.0.1,
             asn1-encoding <= 0.9.4,
             asn1-types <= 0.3.2,
             bytestring <= 0.10.8.1,
             deepseq <= 1.4.2.0,
             hourglass <= 0.2.10,
             memory <= 0.13,
             async <= 2.1.0,
             stm <= 2.4.4.1,
             attoparsec <= 0.13.0.2,
             containers <= 0.5.7.1,
             scientific <= 0.3.4.9,
             binary <= 0.8.3.0,
             hashable <= 1.2.4.0,
             text <= 1.2.2.1,
             vector <= 0.11.0.0,
             primitive <= 0.6.1.0,
             transformers <= 0.5.2.0,
             base64-bytestring <= 1.0.0.1,
             cereal <= 0.5.3.0,
             cryptonite <= 0.19,
             fingertree <= 0.1.1.0,
             hans <= 2.6.0.0,
             BoundedChan <= 1.0.3.0,
             heaps <= 0.3.3,
             monadLib <= 3.7.3,
             psqueues <= 0.2.2.2,
             random <= 1.1,
             time <= 1.6.0.1,
             unix <= 2.7.2.0,
             network <= 2.6.3.1,
             pretty-hex <= 1.0,
             pure-zlib <= 0.4,
             tls <= 1.3.8,
             data-default-class <= 0.1.2.0,
             mtl <= 2.2.1,
             x509 <= 1.6.3,
             asn1-parse <= 0.9.4,
             pem <= 0.2.2,
             x509-store <= 1.6.1,
             x509-validation <= 1.6.3,
             byteable <= 0.1.1
